@import "./src/scss/variables";

.select-rout-container {
  position: fixed;
  bottom: $select-rout-button-size/3;
  right: $select-rout-button-size/3;
  width: $select-rout-button-size;
  height: $select-rout-button-size;
  background-color: $button-color;
  border-radius: $select-rout-button-size;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  a {
    color: #000;
    text-decoration: none;
    font-size: $select-rout-button-size - 2em;
  }
}
