<div class="component-container">
  <app-search-mode
    [showStickers]="showStickers"
    (showStickersChange)="setSearchMode($event)"
    [(enableStickerSelection)]="enableStickerSelection"
  ></app-search-mode>
  <app-search-field
    [smallLoader]="smallLoader"
    [(searchInput)]="searchInput"
    (triggerTrending)="showTrending()"
    (triggerFavorites)="displayFavorites()"
    (triggerDynamicSearch)="dynamicSearch($event)"
    (triggerSearch)="search($event)"
  ></app-search-field>
  <!--Loop through every gifObj. and display it-->
  <div class="result-container">
    <div *ngFor="let gifObj of gifs?.data">
      <app-gif
        [title]="gifObj.title"
        [url]="gifObj.url"
        [id]="gifObj.id"
        [liked]="favoriteService.hasFavorite(gifObj.id)"
        (favButtonPressed)="favButtonPressed($event)"
      ></app-gif>
    </div>
  </div>
</div>
