@import "./src/scss/variables";

.component-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;

  h1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
