$background-gradient: linear-gradient(148.59deg, #00ffa3 0%, #69009c 100%);

$gif-container-color: #1d1d1d;

$gif-text-color: #fff;

$gif-link-color: #a8fa98;

$liked-color: rgb(255, 59, 59);

$unliked-color: rgb(126, 126, 126);

$more-button-color: rgb(0, 255, 191);

$loading-background: rgba(0, 0, 0, 0.541);

$loader-color: #fff;

$small-loader-color: rgb(0, 255, 191);

$small-loader-size: 0.4; //Attention! When adjusting this var the top var in .small-loading-container has to be adjusted

$buttons-border-color: rgb(7, 0, 53);

$search-mode-button-enabeld: rgb(159, 255, 115);

$search-mode-button-disabeld: rgb(255, 144, 144);
