h1 {
  font-size: 4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.result-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
